* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-y: auto; /* Ensures scrolling */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f6ed;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section {
    padding: 32px;
    text-align: center;
    flex: 1;
}

#home h1:hover {
    transform: scale(1.05);
    background-color: rgb(94, 8, 30);
    color: #FFDAB9;
}
#home h1 {
    font-size: 36px;
    color: #FFDAB9;
    background-color: rgb(94, 8, 30);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}



h1 {
    font-size: 36px;
    font-weight: bold;
    color: #D4CAA3;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    background-color: #000435;
    padding: 10px 20px;
    border-radius: 8px;
}


#home p {
    font-size: 18px;
    color: #333;
    background-color: #f6e2f8;
    padding: 16px;
    margin: 0 auto 20px;
    max-width: 800px;
    border-radius: 8px;
    line-height: 1.6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#home p:hover {
    background-color: #f4d3f7;
    transform: scale(1.02);
}
#panda-summary{
    background-color: rgb(94, 8, 30);
    border-radius: 8px;
    max-width: 600px;
    padding: 16px;
    margin: 16px auto;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#panda-summary:hover{
    background-color: rgb(94, 8, 30);
    color: #222;
    transform: scale(1.02);
}


.oval-img {
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    mask:
   radial-gradient(at 70% 31%,#000 29%,#0000 30%),
   radial-gradient(at 30% 31%,#000 29%,#0000 30%),
   linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.oval-img:hover {
    transform: scale(1.15);
}